<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <system.serviceModel>
        <services>
            <service name="OneMessenger.Server.OneMessengerService">
                <endpoint address="net.tcp://localhost:9000/OneMessengerService"
                    binding="netTcpBinding" bindingConfiguration="" name="OneMessengerServiceEndpoint"
                    contract="OneMessenger.Core.IOneMessengerService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>